@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.img {
    height: 613px;
    width: 581px;
}

.banner-part,
.second-section {
    display: flex;
    background-color: #161616;
    Height: 646px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 130px;
    border-radius: 40px;
}

.banner-info {
    padding-top: 111px;
    padding-left: 80px;
    padding-right: 24px;
    color: white;
}

.banner-img {
    padding-top: 33px;
    padding-right: 50px;
    width: 50%;
}

.banner-part .banner-info h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 20px;
}

.banner-part .banner-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}

.btn,
.card-btn {
    border: none;
    background-color: #DD0000;
    padding: 16px 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    border-radius: 5px;
}

/* Second Section  */
.second-section {
    background: none;
}

.section-menu {
    display: flex;
}

.card-img {
    width: 290px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.card {
    width: 290px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-info {
    padding-left: 15px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.card-btn {
    padding: 5px 10px;
    font-size: 15px;
}

.time-massage {
    display: flex;
    justify-content: space-around;
}

.few-btn {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    height: 300px;
    width: 250px;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 10px;
}

.btn-1,
.btn-2,
.btn-3 {
    border: none;
    width: 200px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.btn-3 {
    background-color: #DD0000;
    color: white;
}

/* footer */
.footer {
    background-color: #161616;
}

.footer h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    padding-top: 60px;
    padding-bottom: 30px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left:70px;
    width: 1200px;
}
.contact-footer{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 55px;
}