@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.img {
    height: 1232px;
    width: 1200px;
}

.banner-part,
.second-section {
    display: flex;
    background-color: #161616;
    Height: 1300px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 130px;
    border-radius: 38px;
}

.banner-info {
    padding-top: 230px;
    padding-left: 180px;
    padding-right: 24px;
    color: white;
}

.banner-img {
    padding-top: 68px;
    padding-right: 50px;
    width: 50%;
}

.banner-part .banner-info h1 {
    font-size: 150px;
    font-weight: 700;
    line-height: 130px;
    padding-bottom: 30px;
}

.banner-part .banner-info p {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.btn,
.card-btn {
    border: none;
    background-color: #DD0000;
    padding: 26px 35px;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    color: white;
    border-radius: 5px;
    margin-top: 50px;
}

/* Second Section  */
.second-section {
    background: none;
    margin-bottom: 550px;
}

.section-menu {
    display: flex;
}

.card-img {
    width: 590px;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards {
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 90px;
}

.card {
    width: 591px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-bottom: 50px;
}

.card-info {
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.card-info p {
    padding: 10px 10px;
}

.card-btn {
    padding: 20px 50px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.time-massage {
    display: flex;
    justify-content: space-around;
}

.few-btn {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    height: 480px;
    width: 500px;
    padding-top: 100px;
    padding-left: 45px;
    padding-right: 20px;
    border-radius: 10px;
}

.btn-1,
.btn-2,
.btn-3 {
    border: none;
    width: 400px;
    height: 74px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.btn-3 {
    background-color: #DD0000;
    color: white;
}

/* index-2 */
.double-img {
    display: flex;
    flex-direction: row;
}

/* View button  */
.view {
    margin-left: 1300px;
    margin-bottom: 60px;
    display: none;
}

/* footer */
.footer {
    background-color: #161616;
    height: 350px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footer h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 80px;
    line-height: 60px;
    padding-top: 70px;
    padding-bottom: 50px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 370px;
    width: 1900px;
}

.contact-footer {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 65px;
    font-size: 28px;
}



/* Media Query */

/* Mobile version */
@media screen and (max-width:688px) {
    .img {
        height: 350px;
        width: 320px;
    }

    .banner-part,
    .second-section {
        display: flex;
        flex-direction: column;
        background-color: #161616;
        Height: 800px;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 130px;
        border-radius: 20px;
    }

    .banner-info {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 14px;
        color: white;
        order: 1;
    }

    .banner-img {
        padding-top: 8px;
        padding-left: 50px;
        width: 100%;
        order: 2;
    }

    .banner-part .banner-info h1 {
        font-size: 45px;
        font-weight: 700;
        line-height: 43px;
        padding-bottom: 10px;
    }

    .banner-part .banner-info p {
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .btn,
    .card-btn {
        border: none;
        background-color: #DD0000;
        padding: 15px 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 14px;
        color: white;
        border-radius: 5px;
        margin-top: 10px;
    }

    /* Second Section  */
    .second-section {
        background: none;
        margin-bottom: 50px;
        position: static;
    }

    .section-menu {
        display: flex;
        flex-direction: column;
    }

    .card-img {
        width: 350px;
        height: 220px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .cards {
        margin-left: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 90px;
        margin-bottom: 250px;
    }

    .card {
        width: 351px;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .card-info {
        font-size: 20px;
    }

    .card-info p {
        padding: 10px 10px;
    }

    .card-btn {
        padding: 20px 50px;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .time-massage {
        display: flex;
        justify-content: space-around;
    }

    .few-btn {
        background: none;
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 370px;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 20px;
        border-radius: 10px;
    }

    .btn-1,
    .btn-2,
    .btn-3 {
        border: none;
        width: 300px;
        height: 74px;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: #FFFFFF;
        border: 1px solid #E8E8E8;
    }

    .btn-3 {
        background-color: #DD0000;
        color: white;
    }



    /* footer */

    .footer {
        background-color: #161616;
        height: 250px;
        position: fixed;
    }

    .footer h1 {
        font-size: 30px;
        line-height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-left: 70px;
        width: 1000px;
    }

    .contact-footer {
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding-left: 150px;
    }
}